body {
    background-color: rgb(36, 209, 240);
    /* background: linear-gradient(to right, #7f53ac, #657ced); */
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 5em;
    font-size: 2rem;
    font-weight: bold;
    /* border: solid 1px black;
    border-radius: 25px; */
}

h1 {
    font-size: 5rem;
}

.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.input-number {
    width: 15em;
    height: 5vh;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
}

.btn {
    width: 5em;
    height: 5vh;
    border-radius: 10px;
    font-size: 24px;
}

:hover.btn {
    background-color: green;
    color: white;
}

.title3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: rgb(233, 87, 34);
    font-size: 4rem;
}

#message1 {
    margin-left: 10px;
    color: rgb(233, 87, 34);
    font-size: 3rem;
}

.title3 h3,
p {
    color: rgb(233, 87, 34);
    font-size: 3rem;
}